*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.main-container {
  width: 350px;
  height: 660px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(10, 10, 10, 0.5);
  border-radius: 20px;
}

.profile-info {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

span.user-name {
  font-weight: 500;
  font-size: 1.3rem;
}

span.user-occupation {
  font-weight: 300;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 60px 0 40px 0;
}

.add-branch-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #2276f4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
}

.add-branch-button img {
  width: 25px;
}

.all-choices-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.choice-container {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  gap: 20px;
}

.choice-icon {
  width: 30px;
  opacity: 0.3;
}

.current {
  border-left: 5px solid #2276f4;
  padding: 25px;
}

.live {
  opacity: 1;
}

.lightning {
  color: #2276f4;
}
