*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}