*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.cart-container {
  padding: 60px;
  height: 600px;
  width: 800px;
  display: flex;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(10, 10, 10, 0.5);
}

.headset-img {
  height: 250px;
  width: 250px;
}

.cart-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shipping {
  width: fit-content;
  padding: 10px 5px;
  border-radius: 25px;
  color: white;
  background-color: #241d52;
}

.product {
  font-size: 2rem;
  font-weight: 500;
}

.price {
  margin: 40px 0px;
}

.last-price {
  text-decoration: line-through;
  color: rgb(10, 10, 10, 0.5);
  font-size: 1.1rem;
}

.discounted-price {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
}

.description {
  color: rgb(0, 0, 0, 0.3);
}

.green-circle {
  width: 30px;
}

.button-img {
  width: 30px;
}
