*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

.navigation {
  display: flex;
  gap: 2em;
  padding: 1em;
  list-style: none;
}

li {
  transition: color 0.15s;
}

li:hover {
  cursor: pointer;
  color: red;
}

.title {
  margin-block: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input, .submit-button {
  max-width: 50vw;
  padding-block: 0.6em;
}
